section {
  margin-bottom: 20px;
}

input,

.adjust-2 {
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

.adjust {
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 20px;
  padding-bottom: 0;
}
